 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0e0e0;
  }
  #calculator {
    background-color: #f0f0f0;
    border-radius: 5px;
    
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #000000;
  }
  #result {
    width: 100%;
    border-radius: 0.5rem;
    height: 38px;
    text-align:left;
    margin-top: 5px;
    padding: 6px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
  }
  .button {
    width: 50px;
    height: 50px;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
  }
  .button.operator {
    color: #ffffff;
    background-color: #f76c6c;
  }
  .button.clear {
  
    background-color: #ff0000;
    width: 70px;
  }
  .a{
    display: flex;
  }
  h1{
    text-align: center;
  }
